
@font-face {
    font-family: Haas;
    src: url(../fonts/NHaas.otf);
}

@font-face {
    font-family: baobab;
    src: url(../fonts/baobab.otf);
}

body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.logo {
    position: relative;
    width: 350px;
    color: black;
    text-align: center;
    top: 0px;
    margin: 0 auto;

}


.logo p {
    font-family: 'baobab';
    font-size: 120px;
    margin-top: 0px;
    margin-bottom: 10px;
}

.logo p:hover {
    color: blue;

}

.container p{
    margin: 0;
}

.text {
    font-family: 'Haas',sans-serif;
    width: 40%;
/*    left: 50%;*/
    margin-left: 25vw;
    font-size: 25px;
    text-align: left;
    border-left: 1px solid black;
    padding-left: 15px;
    float: left;
}

.contact{
    float: left;
    margin-left: 2%;
    width: 20%;
    font-size: 15px;
}

.lang{
    display: inline-block;
    float: right;
    right: 10px;
    top: 10px;
    z-index: 999999;
    position: fixed;
}

.btn, 
.btn:visited {
	color: #000000;
	background: #ffffff;
	padding: 8px 22px;
	font-size: 18px;
    font-family: 'Haas', sans-serif;
	line-height: 100%;
	color: #000000;
	display:inline-block;
	vertical-align: middle;
	text-align: center;
	cursor: pointer;
	font-weight: 300;
	transition: background 0.1s ease-in-out;
	-webkit-transition: background 0.1s ease-in-out;
	-moz-transition: background 0.1s ease-in-out;
	-ms-transition: background 0.1s ease-in-out;
	-o-transition: background 0.1s ease-in-out;
	color: #000000;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 4px;
    border: 1px solid white;
    text-decoration: none;
}

.btn:hover, 
.btn:visited:hover,
.btn:focus, 
.btn:visited:focus {
	background: #000000;
    color: #ffffff;
}

.btn:active, 
.btn:visited:active {
	box-shadow: 0px 1px 0px 0px #01192e;
}



a:link {
    text-decoration: none;
    color: black;
}

a:hover {
    color: blue;
}

a:visited {
    text-decoration: none;
    color: black;
}

.credits {
    border-bottom: 1px solid black;
    font-family: sans-serif;
    font-size: 18px;
    text-align: right;
    padding-right: 25px;
    user-select: none !important;
    -moz-user-select: none !important;
    -webkit-user-select: none !important;

}

@media screen and (max-width: 800px) {
    .text {
        font-family: 'Haas', sans-serif;
        width: 70%;
        left: 0px;
        left: 0;
        margin-left: 0px;
        border-left: 0px solid black;
        padding-left: 0px;
    }

}


@media screen and (max-device-width: 800px) and (orientation: portrait) {
    .text {
        /*    position: relative;*/
        font-family: 'Haas', sans-serif;
        /*    column-count: 2;*/
        width: 80%;
        left: 0px;
        left: 0;
        margin-left: 0px;
        border-left: 0px solid black;
        padding-left: 0px;
    }

}

@media print{
    
    .text{
       /*    position: relative;*/
        font-family: 'Haas', sans-serif;
        /*    column-count: 2;*/
        width: 75%;
        left: 0px;
        left: 0;
        margin-left: 0px;
        border-left: 0px solid black;
        padding-left: 0px;
    }
    
}
