/*! HTML5 Boilerplate v7.1.0 | MIT License | https://html5boilerplate.com/ */

/* main.css 1.0.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */


/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */
@font-face {
    font-family: Haas;
    src: url(../fonts/NHaas.otf);
}

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
    -webkit-tap-highlight-color: transparent;
    
}

input,
textarea,
button,
select,
a {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

*{
    font-family: 'Haas';
     box-sizing: border-box;
}

html::-webkit-scrollbar {
    display: none;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #000;
    color: #000;
    padding: 0.2em 0;
}




/* ==========================================================================
   Author's custom styles
   ========================================================================== */
@font-face {
    font-family: TimesCond;
    src: url(../fonts/TimesNewRomanMT.otf);
}

@font-face {
    font-family: baobab;
    src: url(../fonts/baobab.otf);
}

* {
    margin: 0px;
    box-sizing: border-box;
    -webkit-scroll-behavior: smooth !important;
    -moz-scroll-behavior: smooth !important;
    scroll-behavior: smooth !important;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
   
}

body{
    position: relative;
    overflow-x: hidden;
}

.no-js #loader { display: none;  }
.js #loader { display: block; position: absolute; left: 100px; top: 0; }
.se-pre-con {
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	z-index: 9999;
    background-color: black;
}

.se-pre-con img{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%); /* for IE 9 */
  -webkit-transform: translate(-50%, -50%); /* for Safari */
  width: 250px;
  height: 250px;
   
}

#overlay{
    width: 450px;
    height: 50px;
    display:none;
    position: fixed;
    left: 50%;
    top:50%;
    margin-left: -225px;
    margin-top: -25px;
    background:white;
    border:1px solid black;
    color: black;
    font-family: sans-serif;
    font-size: 40px;
    border-radius: 8px;
    text-align: center;
    pointer-events: none;
    line-height: 45px;
    letter-spacing: -2px;
    font-kerning: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    z-index: 999999;
}

#overlay_mobile{
    width: 450px;
    height: 50px;
    display:none;
    position: fixed;
    left: 50%;
    top:50%;
    margin-left: -225px;
    margin-top: -25px;
    background:white;
    border:1px solid black;
    color: black;
    font-family: sans-serif;
    font-size: 40px;
    border-radius: 8px;
    text-align: center;
    pointer-events: none;
    line-height: 45px;
    letter-spacing: -2px;
    font-kerning: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    z-index: 999999;
}


.container {
    /*    height: 500px;*/
}

/* Create three equal columns that floats next to each other */
.column {
    float: left;
    width: 33.33%;
    /*  padding: 10px;*/
    height: 100vh;

}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}


#header {
    padding: 50px 10px;
    text-align: center;
    position: fixed;
    top: 0;
    width: 100%;
    transition: 0.2s;
}

.info {
    position: absolute;
    top: 0;
    width: 30vw;
    z-index: 5;
    top: 10px;
    left: 50%;
    text-align: center;
    display: inline-block;
    margin-left: -15vw;
    font-family: sans-serif;
    font-size: 35px;
    color: black;
}

#buy {
    color: yellow;
    font-size: 80%;
}


#one img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    overflow: hidden;
}

.column.one {
    background-image: url('../img/issueone/0.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    text-align: center;
    object-fit: fill;
    overflow: visible;
}

.column.two {
    background-image: url('../img/issuetwo/0.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    text-align: center;
    object-fit: fill;
    overflow: visible;
}

.column.three {
    background-image: url('../img/issuethree/0.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    text-align: center;
    object-fit: fill;
    overflow: visible;
}

.infotext {
    position: relative;
    height: 100px;
    font-family: 'TimesCond';
    font-size: 3.5vw;
    text-align: center;
    line-height: 52px;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 8px;
    margin-bottom: 15px;
        user-select: none !important;
    -moz-user-select: none !important;
    -webkit-user-select: none !important;

}


.overlay {
  position: absolute;
  top: 0px;
  height: 110%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: white;
}

.infotext:hover .overlay {
  opacity: 1;
}

.overlay:hover .infotext{
    opacity:0;
}

.logo {
  position: absolute;
    display: block;
  width: 50%;
/*    width: 50%;*/
  top: 50px;
  left: 50%;
    padding: 30px;
/*    margin-left: 25%;*/
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
/*  text-align: center;*/
    height: 100%;
    font-family: 'baobab';
    font-size: 70px;
    text-align: center;
    background-color: white;
        user-select: none !important;
    -moz-user-select: none !important;
    -webkit-user-select: none !important;

/*    line-height: 52px;*/
/*
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 8px;
    margin-bottom: 15px;
*/
}




.about{
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    font-family: sans-serif;
    font-size: 40px;
    cursor: pointer;
    padding-left: 25px;
        user-select: none !important;
    -moz-user-select: none !important;
    -webkit-user-select: none !important;

}

.about_mobile{
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    font-family: sans-serif;
    font-size: 40px;
    cursor: pointer;
    padding-left: 25px;
        user-select: none !important;
    -moz-user-select: none !important;
    -webkit-user-select: none !important;
    display: none;
}

.about:hover, .about_mobile:hover{
    background-color: yellow;
}

#about{
/*    border-top: 1px solid black;*/
    font-family: sans-serif;
    color: black;
    padding: 10px;
    padding-left: 25px;
    column-count: 2;
    column-gap: 60px;
     border-bottom: 1px solid black;
/*    column-fill: balance;*/
    line-height: 20px;
/*    height: 700px;*/
}

.events{
/*     border-top: 1px solid black;*/
    border-bottom: 1px solid black;
    font-family: sans-serif;
    font-size: 40px;
    cursor: pointer;
    padding-left: 25px;
        user-select: none !important;
    -moz-user-select: none !important;
    -webkit-user-select: none !important;
}

.events_sub {
       display: none;
    padding: 0 20px;
    width: 100%;
    border-bottom: 1px solid black;
      margin: 0 auto;
}

.events:hover{
    color: blue;
}


.magazines_sub {
     background-color: black;
    color: #dbdbdb;
       display: none;
/*    padding: 0 20px;*/
    width: 100%;
    border-bottom: 1px solid black;
      margin: 0 auto;
}

.magazines{
/*     border-top: 1px solid black;*/
   
    border-bottom: 1px solid black;
    font-family: sans-serif;
    font-size: 40px;
    cursor: pointer;
    padding-left: 25px;
        user-select: none !important;
    -moz-user-select: none !important;
    -webkit-user-select: none !important;
}



.magazines:hover{
    color: yellow;
    background: black;
}


#issueone, #issuetwo, #issuethree{
    display: none;
    position: relative;
    padding: 3vw 15vw 5vw 15vw;
    margin: 0 auto;
    width: 80%;
    background-color: black;
  
}
#events_common{
    display: block;
     position: relative;
    padding: 30px;
    margin: 0 auto;
    width: 75%;
    font-size: 1.9vw;
    line-height: 2.4vw;
    text-align: center;
}
#common{
    display: block;
     position: relative;
    padding: 30px;
    margin: 0 auto;
    width: 75%;
    font-size: 1.9vw;
    line-height: 2.4vw;
    text-align: center;
}

/*
#common{
     position: static;
    column-count: 2;
    column-fill: balance;
    width: 80%;
    margin: 0 auto;
    padding-top: 30px;
    text-align: left;
    color: white;
}
*/


.my-gallery1, .my-gallery2, .my-gallery3{
    display: none;
    position: absolute;
/*    float: left;*/
  
    left: 0;
}

.empty{
    height: 1.5em;
}

.section {
    vertical-align: top;
    word-spacing: normal; /* reset child */
    letter-spacing: normal; /* reset child */
    display: inline-block;
/*    border: 1px solid red;*/
    width: 33%; /* the size UNDER the min-width in the media query*/
/*    padding: 10px;*/
    text-align: center;
    font-size: 1.9vw;/* reset child */
}

.events_sub .section{
    padding: 15px;
}

.buttons{
/*    width: 80%;*/
/*    padding-bottom: 5%;*/ 
   
}

.section img{
    width:100%;
     filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); /* Firefox 10+, Firefox on Android */    
   -webkit-filter: grayscale(100%);
   -moz-filter: grayscale(100%);
   -ms-filter: grayscale(100%);
   filter: grayscale(100%);
   filter: gray; /* IE 6-9 */
}

.section img:hover {
   -webkit-filter: none;
   -moz-filter: none;
   -ms-filter: none;
   filter: none;

}





.slider{
    position: absolute;
    overflow-x: scroll;
    width: 100%;
    left: 0;
    height: 150px;
    padding-bottom: 180px;
    background-color: black;
/*    bottom: 20px;*/
}

.my-gallery1, .my-gallery2, .my-gallery3 {
  width: 100%;
    height: 150px;
/*  float: left;*/
    background-color: black;
    display: flex;
  flex-wrap: nowrap;
  overflow-x: scroll;
    overflow-y: hidden;
}
.my-gallery1 img, .my-gallery2 img, .my-gallery3 img {
  width: 200px;
  height: auto;
}
.my-gallery1 figure, .my-gallery2 figure, .my-gallery3 figure {
  display: inline-block;
  float: left;
  margin: 0 5px 5px 0;
/*  width: 150px;*/
/*    overflow-x: scroll;*/
}





.contact {
    position: relative;
    border-top: 1px solid black;
    font-family: sans-serif;
    font-size: 40px;
    text-align: right;
    padding-right: 2%;
        user-select: none !important;
    -moz-user-select: none !important;
    -webkit-user-select: none !important;

}

.contact p {
    position: relative;
    cursor: pointer;
}
.button1:link, .button2:link, .button3:link{
     text-decoration: none;
    color: white;
}
.button1:visited, .button2:visited, .button3:visited {
     text-decoration: none;
    color: white;
}
#buy:link{
    text-decoration: none;
}
#buy:visited{
    text-decoration: none;
}


.contact a:link {
    text-decoration: none;
    color: black;
}

#about_button:link {
    text-decoration: none;
    color: black;
}

.contact a:hover {
    color: blue;
}
#about_button:hover {
    color: blue;
}

.contact a:visited {
    text-decoration: none;
    color: black;
}
#about_button:visited {
    text-decoration: none;
    color: black;
}


/* galleries*/

.gallery2, .gallery1, .gallery3{
    background-color: black;
    height: 150px;
    width:100%;
/*    height: auto;*/
/*    overflow: scroll;*/
    display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
     -webkit-overflow-scrolling: touch;
   
}

.my-gallery1::-webkit-scrollbar, .my-gallery2::-webkit-scrollbar,.my-gallery3::-webkit-scrollbar{
    display: none;
}

.gallery2 img, .gallery1 img, .gallery3 img{
    position: relative;
    height: 80%;
    flex: 0 0 auto;
/*    margin-top: 50%;*/
/*    top:50%;*/
}

#gallery2{
    
}

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
    .column {
        width: 100%;
    }


    .contact {
        font-size: 5vw;
        padding: 15px 0 15px 0;
        text-align: center;
    }

 .about_mobile, .events, .magazines {
        line-height: 30px;
        font-size: 25px;
    }
      #about{
        column-count: 1;
          width: 95%;
    }

    .about{
        display: none;
    }
    
    .about_mobile{
        display: block;
    }
    
    .section, #common, #events_common {
	    width: 100%;
        font-size: 15px;
        line-height: 18px;
	}
    #issueone, #issuetwo, #issuethree{
        width: 100%;
    }
    
    .events .buttons {
	    width: 100%;
        margin: 0 auto;
	}
    .magazines_sub .buttons{
        width 95%;
        margin: 0 auto;
    }
    
    .magazines_sub .section{
        width: 32%;
        margin: 0 auto;
        padding: 10px;
    }
    
    #arrow {
        display: none;
    }

    #arrow_up {
        display: none;
    }

    .infotext {
       display: none;
        
    }
    
    .overlay{
        display: none;
    }
}


@media screen and (max-device-width: 600px) and (orientation: portrait) {
    .column {
        width: 100%;
    }

    .contact {
        font-size: 20px;
        text-align: center;
    }

    .about_mobile, .events, .magazines {
        line-height: 30px;
        font-size: 25px;
        
    }
    
    #about{
        column-count: 1;
    }
    
    .about{
        display: none;
    }
    
    .about_mobile{
        display: block;
    }
    
     .section, #common, #events_common {
	    width: 100%;
        font-size: 15px;
	}
    
     #issueone, #issuetwo, #issuethree{
        width: 100%;
    }
    
    .events .buttons {
	    width: 100%;
        margin: 0 auto;
	}
    .magazines_sub .buttons{
        width 95%;
        margin: 0 auto;
    }
    
    .magazines_sub .section{
        width: 32%;
        margin: 0 auto;
    }

    
    .infotext {
     display: none;
    }
    
    .overlay{
        display: none;
    }
    
}













/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}

/*
* Hide only visually, but have it available for screen readers:
* https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
*
* 1. For long content, line feeds are not interpreted as spaces and small width
*    causes content to wrap 1 word per line:
*    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
*/

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    white-space: nowrap;
    /* 1 */
}

/*
* Extends the .visuallyhidden class to allow the element
* to be focusable when navigated to via the keyboard:
* https://www.drupal.org/node/897638
*/

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
    white-space: inherit;
}

/*
* Hide visually and from screen readers, but maintain layout
*/

.invisible {
    visibility: hidden;
}

/*
* Clearfix: contain floats
*
* For modern browsers
* 1. The space content is one way to avoid an Opera bug when the
*    `contenteditable` attribute is included anywhere else in the document.
*    Otherwise it causes space to appear at the top and bottom of elements
*    that receive the `clearfix` class.
* 2. The use of `table` rather than `block` is only necessary if using
*    `:before` to contain the top-margins of child elements.
*/

.clearfix:before,
.clearfix:after {
    content: " ";
    /* 1 */
    display: table;
    /* 2 */
}

.clearfix:after {
    clear: both;
}


/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
(-webkit-min-device-pixel-ratio: 1.25),
(min-resolution: 1.25dppx),
(min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}


/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {

    *,
    *:before,
    *:after {
        background: black !important;
        color: #000 !important;
        /* Black prints faster */
        -webkit-box-shadow: none !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " ("attr(href) ")";
    }

    abbr[title]:after {
        content: " ("attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre {
        white-space: pre-wrap !important;
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
